.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2001; 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 77vh;
  width: 50vw; 
  z-index: 2002;
}
.input {
  margin-left: 1rem;
  font-family: "SF Pro";
  max-width: 190px;
  padding: 0.25rem;
  font-size: 1rem;
  border: 1.5px solid #6b7280;
  border-radius: 0.5rem;
  box-shadow: 2.5px 3px 0 #6b7280;
  outline: none;
  transition: ease 0.25s;
}

.input:focus {
  box-shadow: 5.5px 7px 0 black;
  border: 1.5px solid black
}
.select{
  background: white;
  border: 2px solid #6b7280;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.1rem 0;
  margin-left: 1rem;
  text-align: center;
  
}
.select:focus{
 border: solid 2px black
}
.options{
  padding: 0
}
.button-close{
  all: unset;
  color: black;
}
.button-close:hover{
  color: red
}
.button-anexo{
  background: #3f83f8;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}
.button-anexo:hover{
  background: #1c64f2
}
.svgArrow{
  width:1rem;
  height:1rem;
  margin-right: 0.5rem;
  color: black
}
.svgTrash{
  width:1rem;
  height:1rem;
  margin-right: 0.5rem;
  color:black
}
.svgCheck{
  width: 1rem;
  height: 1rem;
  color: black;
}
.button-salvar{
  background: #0e9f6e;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}
.button-salvar:hover{
  background: #057a55
}
.button-salvar:disabled{
  cursor: not-allowed;
  opacity: 70%;
}
.button-deletar{
  background: #f05252;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}
.button-deletar:hover{
  background: #e02424;
}
.button-deletar:disabled{
  cursor:not-allowed;
  opacity:70%
}
.imageEdit{
  object-fit: cover;
  max-width: 45%;
  max-height: 50%;
}
.campoImg{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primeiroCampo{
  width: 100%;
  max-width: 35vw;
  min-height: 200px;
  max-height: 40%;
  border: 2px dashed #41D21D;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}